*

!README.md
!.gitignore

!_layouts/
!_layouts/*.html

!notebooks/
!notebooks/*.ipynb

!examples/
!examples/*.py
!examples/2489.txt
!examples/test.txt
!examples/*.json

!lectures/

!lectures/assets/
!lectures/assets/img/
!lectures/assets/img/*.jpg
!lectures/assets/img/*.png
!lectures/assets/css/
!lectures/assets/css/*.css

!lectures/functions
!lectures/functions/*.md
!lectures/functions/*.html

!lectures/collections
!lectures/collections/*.md
!lectures/collections/*.html

!lectures/input-output
!lectures/input-output/*.md
!lectures/input-output/*.html

!lectures/interactive-python
!lectures/interactive-python/*.md
!lectures/interactive-python/*.html

!lectures/log-test-debug
!lectures/log-test-debug/*.md
!lectures/log-test-debug/*.html