*

!README.md
!.gitignore

!_layouts/
!_layouts/*.html
!index.md

!examples/
!examples/*.py

!lectures/

!lectures/assets/
!lectures/assets/*.jpg

!lectures/functions
!lectures/functions/*.md
!lectures/functions/*.html

!lectures/collections
!lectures/collections/*.md
!lectures/collections/*.html
