.bright {
    color: #00ff2a;
}

code {
    color: coral;
    font: "Monaco", "Consolas", "Andale Mono", "DejaVu Sans Mono", "Courier New", monospace;
    font-size: 0.95em;
}

em { 
    font-style: italic;
    color: deeppink;
  }

strong { 
    color: rgb(255, 169, 20);
  }

.twocolumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    font-size: 0.95em;
}

.twocolumnleft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    font-size: 0.95em;
    text-align: left;
}
