.bright {
    color: deeppink;
}

code {
    color: coral;
    font: "Monaco", "Consolas", "Andale Mono", "DejaVu Sans Mono", "Courier New", monospace;
    font-size: 0.95em;
}

.twocolumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.twocolumnleft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-align: left;
}
